.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.dashboard-content {
  display: flex;
  flex: 1;
}

.dashboard-main {
  flex: 1;
  margin-left: -110px;
  display: flex;
  justify-content: flex-end; /* Aligns content to the right */
  padding: 20px;
}

.right-section {
  
  display: flex;
  gap: 30px; /* Space between Leaderboard and StatsCards */
  align-items: flex-start;
}

.leaderboard-content {
  margin-left: 10px;
  flex: 1;
  
  max-width: 1200px;
}

.stats-content {
  flex-shrink: 0;
  width: 250px;
}
